<!DOCTYPE html>
<html>
  <head>
    <title>API CRAWLING</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Welcome on the API!</h1>
    <h1>Usage : </h1>
    <h2>Listen on port 3000 : Dev production</h2>
    /udemy/catalog/:number</br>
    /coursera/catalog</br>
    /coding-apple/catalog</br>
    /goormedu/catalog/:number</br>
    /teamnova/catalog</br>
    /inflearn/catalog/:number</br>
    /taling/catalog/:number</br>
    /YouTube/catalog/:type</br>
    /programmers/catalog/:number</br>
    /code-academy/catalog</br>
    <br>
    <b>If you need help, contact-me or read the README.md inside the root of the project.</b>
  </body>
</html>
